@font-face {
	font-family: 'Sawarabi Gothic';
	src: url('/font/SawarabiGothic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Sawarabi Gothic', sans-serif;
}
