@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Sawarabi Gothic';
	src: url('/font/SawarabiGothic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* @font-face {
	font-family: 'Noto Sans JP';
	src: url('/font/NotoSansJP-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans JP';
	src: url('/font/NotoSansJP-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
} */

:root {
	--accent-color_dark: #0c323c;
	--accent-color-light: #00c0ce;
	--accent-color: #009cac;
	--accent-color-dark: #00747c;
	--border-color-basic: #c6cccc;
	--border-color-hr: #dee3e3;
	--bg-main-color: #fefcf4;
	--scrollbar-bg-color: #eeeeee;
	--text-color: #24241e;
}

* {
	box-sizing: border-box;
}
html,
body,
main {
	width: 100%;
}

body {
	font-family: 'Sawarabi Gothic', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN',
		'Hiragino Sans', Meiryo, sans-serif;
	line-height: 1.6;
	color: var(--text-color);
	background-color: var(--bg-main-color); /* #ffffff */
	font-size: 16px;
}

header {
	font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
		sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
		sans-serif;
	font-weight: bold;
	width: 100%;
	text-align: left;
}
h1,
h2 {
	border-bottom: 1px solid;
	border-color: var(--border-color-basic);
}
h1 {
	font-size: 2.5em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

h2 {
	font-size: 2em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	padding-bottom: 12px;
}

h3 {
	font-size: 1.75em;
	margin-top: 1em;
	margin-bottom: 1em;
}

h4 {
	font-size: 1.5em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
}

h5 {
	font-size: 1.25em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
}

h6 {
	font-size: 1em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
}

@media (max-width: 450px) {
	h1 {
		font-size: 1.75em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.45em;
		margin-top: 1em;
		margin-bottom: 1em;
	}

	h4 {
		font-size: 1.3em;
		margin-top: 1.33em;
		margin-bottom: 1.33em;
	}

	h5 {
		font-size: 1.15em;
		margin-top: 1.67em;
		margin-bottom: 1.67em;
	}
}

main h1 {
	border: 0px;
	padding-bottom: 12px;
}

a {
	text-decoration: none;
	color: var(--accent-color);
}

a:hover {
	color: var(--accent-color-dark);
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}
.container,
#articles {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

hr {
	border: 0px solid var(--border-color-hr) !important;
}

figure {
	margin: 0;
}

main img {
	border-radius: 8px;
}

section,
p {
	width: 100%;
	text-align: left;
}

.container img {
	width: auto;
	max-width: 100%;
	height: auto;
}

#article img {
	margin-top: 32px;
	margin-bottom: 32px;
}

@media (max-width: 450px) {
	.container,
	#articles {
		max-width: 100%;
		padding: 0;
	}

	.container img {
		width: 100%;
		max-width: 100%;
	}
}

/* scroll bar */
html {
	scrollbar-width: 10px;
	scrollbar-color: var(--accent-color-light) #f5f2e8;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: #eeeeee;
}

body::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #aaaaaa;
}

html,
body {
	margin: 0 !important;
	padding: 0 !important;
}
section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.eyecatch_section {
	height: 100%;
	max-height: 162px;
}
.eyecatch_section img {
	height: 100%;
	max-height: 162px;
	object-fit: cover;
	object-position: center;
}

#articles li,
#articles div.upper,
#articles .eyecatch_section img {
	width: 100%;
	max-width: 360px;
}

blockquote {
	background: #f5f2e8;
	border: 5px solid #d4cfc0;
	color: #2f3017;
	margin: 0px;
	padding: 20px;
	border-radius: 12px;
}

table {
	border-collapse: collapse;
	width: auto;
	background-color: #fff;
	margin-top: 16px;
	margin-bottom: 2em;
	border-spacing: 0;
	border-radius: 4px;
	overflow: hidden;
}

table th,
table td {
	padding: 8px;
}

table th {
	font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
		sans-serif;
	font-weight: bold;
}

table tr:last-child td:first-child {
	border-bottom-left-radius: 8px;
}

table tr:last-child td:last-child {
	border-bottom-right-radius: 8px;
}

article.post img {
	border-radius: 4px;
}

.iframely-embed {
	margin-top: 8px;
	margin-bottom: 16px;
}

th,
td {
	text-align: left;
	padding: 8px;
}

th {
	background-color: var(--accent-color-light);
	color: white;
	text-align: center;
}

tr {
	background-color: transparent;
}

tr:nth-child(even) {
	background-color: #edfcfd;
}

tr:hover {
	background-color: #f2f2f2;
}

.article_link a {
	color: var(--text-color);
	font-weight: bold;
	font-size: 22px;
	min-height: 72px;
	display: block;
}
main ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding-left: 16px;
	padding-right: 16px;
}

main li {
	margin: 0 8px 48px 8px;
	list-style: none;
	flex: 0 0 auto;
}

div.clock {
	display: inline-block;
	height: 20px;
}
div.clock img {
	vertical-align: middle;
}

time {
	display: inline-block;
	font-size: 18.5px;
	margin-left: 4px;
	height: 20px;
	vertical-align: top;
}
div.upper,
.tags {
	padding-top: 12px;
}
div.upper {
	flex-direction: column;
}

div.tag {
	display: inline-flex;
}

div.upper a.category_link {
	padding: 4px 8px;
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
	white-space: nowrap;
	border-radius: 3px;
	font-size: 14px;
	margin: 0 0 2px;
	vertical-align: top;
}

.tags {
	flex-grow: 1;
	padding-bottom: 4px;
}
.tag_icon {
	padding-top: 5px;
	margin-right: 2px;
}

.tag_icon img {
	width: 18px;
	height: 18px;
}

.tag_link {
	margin-right: 12px;
}

article,
#meta {
	padding-left: 16px;
	padding-right: 16px;
}

article ul {
	padding: 0px;
	padding-top: 16px;
	display: block;
}
article li {
	position: relative;
	padding-left: 24px;
	padding-right: 8px;
	margin-bottom: 16px;
	margin-left: 0px;
	max-width: 100%;
}

article.post ul li:before {
	content: '✿';
	position: absolute;
	top: 0;
	left: 0;
	color: var(--accent-color);
}
